#wrap {
  position: relative;
}

.inner {
  box-sizing: border-box;
  padding: 0 16px;
  margin: 0 auto;
}

section {
  padding: 80px 24px;
}

@media only screen and (min-width: 600px) {
  .inner {
    min-width: 600px;
    max-width: 960px;
    padding: 0 40px;
  }

  section {
    padding: 24px 0;
  }
}
